---
layout: default
---

{% include masthead.html %}

<section id="about" class="page-section blue-bg">
  <div class="container">
    <div class="section-header pb-80">
      <h2 class="pixelText">About Us</h2>
      <hr class="divider" />
      <p class="color-white pb-3">{{site.about_blob}}</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% assign images = site.static_files | where: "image", true %} {% for
          image in images %} {% if image.path contains 'photos' %}
          <li class="splide__slide">
            <img class="w-100" src="{{ image.path }}" />
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="sponsors" class="page-section blue-bg">
  <div class="container-fluid">
    <div class="section-header pb-80">
      <h2 class="pixelText">Sponsors</h2>
      <hr class="divider" />
    </div>
    <div class="row justify-content-center">
      {% assign sorted_sponsors = site.sponsors | sort:"order" %} {% for s in
      sorted_sponsors %}
      <div class="col-2 mb-4">
        <img src="{{s.img}}" class="w-100" />
      </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      <div class="col-12 pt-3 align-self-baseline">
        <a href="/pdfs/sponsor.pdf" class="btn btn-outline-info mt-3"
          >Want to sponsor LTUX 2024?</a
        >
      </div>
    </div>
  </div>
</section>

<section id="speakers" style="align-content: center;">
    <h1 style="color:#1ccc1d;">Speakers &amp; Panelists</h1><br/><br/>
    <h2>COMING SOON</h2><br/><br/>
    <a href="https://forms.gle/gha2A5fpHFmFhWMs5" class="btn btn-outline-info mt-3">Want to apply to speak/host a panel?</a><br/><br/>
</section>

<section id="vendors"   class="page-section blue-bg" style="align-content: center;">
    <h1 style="color:#1ccc1d;">Vendors &amp; Artists</h1><br/><br/>
    <h2>COMING SOON</h2><br/><br/>
    <a href="https://forms.gle/gha2A5fpHFmFhWMs5" class="btn btn-outline-info mt-3">Want to apply to be a featured artist/vendor?</a><br/><br/>
</section><br/><br/><br/><br/><br/><br/>
