.navbar-light
{
  background-color: #FDFFFC !important;
}
.navbar-dark
{
  background-color: #0A111D !important;
}
.nav-link
{
  color:#F39C6B !important;
  font-weight: 900;
  text-transform: uppercase;
}
.nav-link:hover
{
  color:#7C898B !important;
}
