#mainNav{
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.navbar-light
{
  background-color: #0ddffb !important;
}
.navbar-dark
{
  background-color: $white-blue !important;
}
.nav-link
{
  color:$blue-1 !important;
  font-weight: 900;
  text-transform: uppercase;
}
.nav-link:hover
{
  color:$light-purple !important;
}
