<head>
    <meta charset="UTF-8">
    <title>Great Lakes Gaming Expo - GLGX</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <title>Great Lakes Game Expo - GLGX</title>
    <meta name="title" content="Great Lakes Game Expo - GLGX">
    <meta name="description" content="Great Lakes Game Expo is an online game design and development expo that is hosted in the Great Lakes region.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://glgx.dev">
    <meta property="og:title" content="Great Lakes Game Expo - GLGX">
    <meta property="og:description" content="Great Lakes Game Expo is an online game design and development expo that is hosted in the Great Lakes region.">
    <meta property="og:image" content="https://glgx.dev/img/backdrop.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://glgx.dev">
    <meta property="twitter:title" content="Great Lakes Game Expo - GLGX">
    <meta property="twitter:description" content="Great Lakes Game Expo is an online game design and development expo that is hosted in the Great Lakes region.">
    <meta property="twitter:image" content="https://glgx.dev/img/backdrop.png">

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="/css/main.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/img/logo_white.png" />

</head>
