<header class="masthead" id="main-masthead">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center  text-center">
            <div class="col-12 align-self-end">
                <h1 class="text-white pixelText">GLGX</h1>
                <h4 class="text-white pixelText pt-1 pb-1">A 100% online, everything games, convention</h4>
            </div>
            <div class="col-12 align-self-baseline">
                <h4 class="text-white pixelText">February 18th 2021</h4>
                <h5 class="text-white pixelText pt-2 pb-2">-TO-</h5>
                <h4 class="text-white pixelText">February 21st 2021</h4>
            </div>
        </div>
    </div>
</header>
