<div {% if page.mainTitle %} style="min-height: 500px" {% endif %} class="container pb-80">
    {% unless page.mainTitle %}
    <div class="section-header mb-100">
        <h2 class="pixelText">Schedule</h2>
        <hr class="divider"/>
        <p class="color-white"></p>
    </div>
    {% endunless %}
    <div class="row mb-5">
        <div class="col-12 text-center text-white mb-2">
            <h4 class="pixelText">Wayne H. Buell Building</h4>
        </div>
        <div class="col-12 mb-3">
            <ul class="nav nav-fill">
                {% for s in site.schedule %}
                {% if s.url contains 'wayne'%}
                <li class="nav-item">
                    <a class="schedule-nav-link nav-link" data-toggle="tab" aria-selected="true" id="{{s.tab-name}}-tab" href="#{{s.tab-name}}">{{s.name}}</a>
                </li>
                {%endif%}
                {% endfor %}

            </ul>
        </div>
        <div class="col-12">
            <div class="tab-content {% if page.black %} color-black {% else %} color-white {% endif %} schedule-times">
                {% for s in site.schedule %}
                {% if s.url contains 'wayne'%}
                <div class="tab-pane fade in " id="{{s.tab-name}}">
                    {% for talk in s.talks %}
                        <div class="row m-0 schedule-row {% if forloop.last == false %}talk-border{% endif %}">
                            <div class="col-4 pb-2 pt-2">
                                {{talk.time}} EST
                            </div>
                            <div class="col-8 pb-2 pt-2">
                                <h5 class="talk-name">{{talk.name}} {% if talk.speaker %}- <small><i>{{talk.speaker}}</i></small> {% endif %}</h5>
                                <p class="talk-description">{{talk.description}}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                {%endif%}
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-12 text-center text-white mb-2">
            <h4 class="pixelText">Architecture Building</h4>
        </div>
        <div class="col-12 mb-3">
            <ul class="nav nav-fill">
                {% for s in site.schedule %}
                {% if s.url contains 'architecture'%}
                <li class="nav-item">
                    <a class="schedule-nav-link nav-link " data-toggle="tab" aria-selected="true" id="{{s.tab-name}}-tab" href="#{{s.tab-name}}">{{s.name}}</a>
                </li>
                {%endif%}
                {% endfor %}

            </ul>
        </div>
        <div class="col-12">
            <div class="tab-content {% if page.black %} color-black {% else %} color-white {% endif %} schedule-times">
                {% for s in site.schedule %}
                {% if s.url contains 'architecture'%}
                <div class="tab-pane fade in " id="{{s.tab-name}}">
                    {% for talk in s.talks %}
                        <div class="row m-0 schedule-row {% if forloop.last == false %}talk-border{% endif %}">
                            <div class="col-4 pb-2 pt-2">
                                {{talk.time}} EST
                            </div>
                            <div class="col-8 pb-2 pt-2">
                                <h5 class="talk-name">{{talk.name}} {% if talk.speaker %}- <small><i>{{talk.speaker}}</i></small> {% endif %}</h5>
                                <p class="talk-description">{{talk.description}}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                {%endif%}
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-12 text-center text-white mb-2">
            <h4 class="pixelText">UTLC</h4>
        </div>
        <div class="col-12 mb-3">
            <ul class="nav nav-fill">
                {% for s in site.schedule %}
                {% if s.url contains 'utlc'%}
                <li class="nav-item">
                    <a class="schedule-nav-link nav-link" data-toggle="tab" aria-selected="true" id="{{s.tab-name}}-tab" href="#{{s.tab-name}}">{{s.name}}</a>
                </li>
                {%endif%}
                {% endfor %}

            </ul>
        </div>
        <div class="col-12">
            <div class="tab-content {% if page.black %} color-black {% else %} color-white {% endif %} schedule-times">
                {% for s in site.schedule %}
                {% if s.url contains 'utlc'%}
                <div class="tab-pane fade in " id="{{s.tab-name}}">
                    {% for talk in s.talks %}
                        <div class="row m-0 schedule-row {% if forloop.last == false %}talk-border{% endif %}">
                            <div class="col-4 pb-2 pt-2">
                                {{talk.time}} EST
                            </div>
                            <div class="col-8 pb-2 pt-2">
                                <h5 class="talk-name">{{talk.name}} {% if talk.speaker %}- <small><i>{{talk.speaker}}</i></small> {% endif %}</h5>
                                <p class="talk-description">{{talk.description}}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                {%endif%}
                {% endfor %}
            </div>

        </div>
    </div>
</div>
