<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" integrity="sha512-lteuRD+aUENrZPTXWFRPTBcDDxIGWe5uu0apPEn+3ZKYDwDaEErIK9rvR0QzUGmUQ55KFE2RqGTVoZsKctGMVw==" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1R1R59KGVR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1R1R59KGVR');
</script>
<script>
    function checkTwitchStreaming()
    {
        var time = moment();

        var startDay = moment('{{site.start_date}}');
        var endDay = moment('{{site.end_date}}');

        if(!time.isBetween(startDay, endDay, null, '[]'))
            return;

        var twitchHolder = $('#twitch');
        var mainMasthead = $('#main-masthead');

        var format = 'HH:mm:ss';

        var startThurFriday = moment('18:55:00', format);
        var start = moment('11:00:00', format);
        var end = moment('22:00:00', format);

        if([6,7].indexOf(time.isoWeekday()) >= 0)
        {
            if(time.isBetween(start, end, null, '[]'))
            {
                twitchHolder.show();
                mainMasthead.hide();
            }
        }
        else
        {
            if(time.isBetween(startThurFriday, end, null, '[]'))
            {
                twitchHolder.show();
                mainMasthead.hide();
            }
        }

        if(twitchHolder.is(':visible'))
        {
            new Twitch.Embed("twitch-embed", {
                width:'100%',
                height:'100%',
                channel: "{{site.twitch_channel}}",
                // only needed if your site is also embedded on embed.example.com and othersite.example.com
            });
        }

    }
</script>
<script src="/js/main.js"></script>
