---
layout: default
---
<section class="page-section section-white-bg">
    <div class="container pb-80">

        <div class="row">
            {% for post in paginator.posts %}
            <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-12">
                        <a class="permalink pixelText color-orange" href="{{ post.url }}"><h4 >{{ post.title }}</h4></a>
                    </div>
                    <div class="col-12">
                        <p class="text-muted">{{ post.date | date_to_string }}</p>

                    </div>
                    <div class="col-12">
                        {% if post.content contains site.excerpt_separator %}
                            {{ post.excerpt }}
                        <small class="color-orange"><a href="{{ post.url }}"><i>Read More...</i></a></small>
                        {% else %}
                            {{ post.content }}
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <hr class="divider-long"/>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12">

                    <ul class="pagination justify-content-center">
                        {% if paginator.previous_page %}
                        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}
                        {% if paginator.next_page %}
                        <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                    </ul>

<!--                <div class="pagination">-->
<!--                    {% if paginator.previous_page %}-->
<!--                    <a href="{{ paginator.previous_page_path }}" class="page-item">-->
<!--                        Previous-->
<!--                    </a>-->
<!--                    {% else %}-->
<!--                    <span class="page-item">Previous</span>-->
<!--                    {% endif %}-->
<!--                    {% if paginator.next_page %}-->
<!--                    <a href="{{ paginator.next_page_path }}" class="page-item">Next</a>-->
<!--                    {% else %}-->
<!--                    <span class="next ">Next</span>-->
<!--                    {% endif %}-->
<!--                </div>-->
            </div>

        </div>
    </div>
</section>

