<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    <div class="wrapper">
        {% include navbar.html %}
        <div class="content-wrapper">
            {{ content }}
        </div>
        <footer id="footer" class="pt-5 pb-5 section-black-bg bottom-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center text-white">
                        <p class="m-0"><small>Copyright © 2022 - {{site.copyright_name}}</small></p>
                        <p class="m-0"><small>Burning questions? Email us at <a class="color-light" href="mailto:{{site.contact_email}}">{{site.contact_email}}</a></small></p>
                        <p class="m-0 mb-2"><small><a class="color-light" href="/code-of-conduct">Code of Conduct</a></small></p>
                        <div class="social text-center">
                            {% if site.twitter %}<a class="color-white" href="{{site.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
                            {% if site.facebook %}<a class="color-white" href="{{site.facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a>{% endif %}
                            {% if site.linkedin %}<a class="color-white" href="{{site.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>{% endif %}
                            {% if site.twitch %}<a class="color-white" href="{{site.twitch}}" target="_blank"><i class="fab fa-twitch"></i></a>{% endif %}
                            {% if site.email_subscribe %}<a class="color-white" target="_blank" href="{{site.email_subscribe}}"><i class="fas fa-envelope"></i></a>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% include scripts.html %}
</body>
</html>
